.Main-div {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.setupchat {
    text-align: center;
    max-width: 600px;
    margin:0 auto;
}

.launchpad {
    width:100%;
}

.videochatWrapper {
    min-height: 100vh;
}

.videochat {
    height:100vh
}

.deviceselector {
    max-width: 600px;
    margin:0 auto;
}

.startchat {
    text-align: center;
    padding:10px 0 0 0;
}

.videofeedback {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.staricon {
    margin:4px 2px 20px 2px;
    cursor: pointer;
}

select, input {
    outline:0 !important;
}

video {
    object-fit: cover;
}

.message-container {
    position: relative;
    height:180px
}

.message-enter {
    opacity: 0;
    transform: translateY(100%);
}
.message-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}
.message-exit {
    opacity: 1;
}
.message-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 500ms, transform 500ms;
}